/*===========================================*/
/* General
===========================================*/
body, html {
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif!important;
	height:100%;
	margin:0;
	padding:0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif!important;
	font-weight: normal;
	line-height: normal;
}
p {
	font-size: 14px
}
a {
	color: #5c5c5c;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
}
a:hover, a:focus {
	text-decoration: none;
	color: #ffb642;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.header {
	width: 100%;
	display: block;
	clear: both;
	background: #303030;
	padding: 20px 0;
	position:absolute;
	top:0;
}
.logo {
	display: inline-block;
	font-size: 32px;
	margin: 0;
	padding: 0;
}
.logo a {
	display: block;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: bold;
}
.logo a span {
	font-weight: 100;
}
.main-content {
	display: block;
	padding: 50px 0;
	background: url(../images/bg.jpg) top center no-repeat;
	background-size: cover;
	height:100%;
	display:table;
	width:100%;
}

.content-wrap { display:table-cell; vertical-align:middle; width:100%; }

.box {
	border: 2px solid #2877e2;
	display: block;
	border-radius: 10px;
	overflow: hidden;
	background: url(../images/grdnt.jpg) bottom left repeat-x;
	background-color: #ffffff;
	padding-bottom: 50px;
}
.box-top {
	display: block; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#02448e+0,165eba+33,2877e1+100 */
	background: #02448e; /* Old browsers */
	background: -moz-linear-gradient(top, #02448e 0%, #165eba 33%, #2877e1 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #02448e 0%, #165eba 33%, #2877e1 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #02448e 0%, #165eba 33%, #2877e1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02448e', endColorstr='#2877e1', GradientType=0 ); /* IE6-9 */
	overflow: hidden;
	color: #ffffff;
	text-transform: uppercase;
	padding: 20px;
	clear: both;
}
.box-top h2 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	float: left;
}
.box-top h2 span {
	font-weight: bold;
}
.box-top p {
	float: right;
	margin: 10px 0 0 0;
}
.box-cont {
	display: block;
	clear: both;
	padding: 20px;
}
ul.quest {
	margin: 0;
	padding: 0;
	padding-bottom: 50px;
	list-style-type: none;
}
ul.quest li {
	display: block;
	clear: both;
	overflow: hidden;
}
ul.quest li strong {
	display: block;
	background: #2877e1;
	color: #ffffff;
	font-size: 20px;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-radius: 100%;
	margin-right: 10px;
	float: left;
}
ul.quest li p {
	display: block;
	font-size: 28px;
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
	overflow: hidden;
	line-height: 24px;
	margin: 0;
	margin-top: 3px;
}
.btns {
	display: block;
	width: 190px;
	height: 56px;
	border-radius: 10px;
	text-align: center;
	line-height: 56px;
	margin: 0 auto;
	margin-bottom: 20px;
	font-size: 38px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
}
.btn-male { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2877e1+0,034691+100 */
	background: #2877e1; /* Old browsers */
	background: -moz-linear-gradient(top, #2877e1 0%, #034691 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #2877e1 0%, #034691 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #2877e1 0%, #034691 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2877e1', endColorstr='#034691', GradientType=0 ); /* IE6-9 */
}
.btn-female {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7a7a7a+0,1c1c1c+100 */
	background: #7a7a7a; /* Old browsers */
	background: -moz-linear-gradient(top, #7a7a7a 0%, #1c1c1c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #7a7a7a 0%, #1c1c1c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #7a7a7a 0%, #1c1c1c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a7a7a', endColorstr='#1c1c1c', GradientType=0 ); /* IE6-9 */
}
.btns:hover {
	color: #ffffff;
}
footer {
	width: 100%;
	display: block;
	clear: both;
	background: #044793;
	padding: 15px 0;
	position:absolute;
	bottom:0;
}
footer p {
	text-align: center;
	display: block;
	padding: 0;
	margin: 0;
	color: #ffffff;
}

@media (max-width: 460px) {
body {
	background: url(../images/bg-mobile.jpg) top center no-repeat;
	background-size: cover;
}

.box-top h2 { float:none; display:block; text-align:center; }
.box-top p { float:none; display:block; text-align:center; }
.logo { text-align:center; }
.logo { font-size:24px; display:block; text-align:center; }
ul.quest { padding-bottom:20px; }
ul.quest li p { font-size:24px; }
.box { padding-bottom:30px; }

}
